<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!!</title>
    </head>
    <body>
        {{$name := .}}
        <h1>Hi! My name is: {{$name}}</h1>
    </body>
</html>
