<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!!</title>
    </head>
    <body>
        <h1>Welcome to my TCP server. :D</h1>
        <h2>This is the {{ . }} page.</h2>
    </body>
</html>
