<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!!</title>
    </head>
    <body>
        <h1>List of people:</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Initials</th>
            </tr>
            {{range .}}
                {{$n := tu .Name}}
                {{$s := tu .Surname}}
                <tr>
                    <td>{{$n}}</td>
                    <td>{{$s}}</td>
                    <td>{{.Age}}</td>
                    <td>{{ff $n}}</td>
                </tr>
            {{end}}
        </table>
    </body>
</html>
